@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';

@font-face {
    font-family: 'HandWritting';
    src: url('handwriting-draft_free-version.ttf') format('truetype');
}

body {
    background-color: #e9ecef;
}

.app {
    padding-top: 2.5vh;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.title {
    font-family: 'HandWritting';
}

.buttons-filter {
    margin-top: 1rem;
}

.input-group {
    width: 33%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.input-group-customize {
    margin-top: 1rem;
}

.button-delete {
    position: absolute;
    left: 100%;
    transform: translate(-100%);
}

.list-item-label {
    background-color: #fff;
    /* word-break: break-all;
    margin-left: 1px;
    padding: 15px 15px 200px 60px;
    /* display: flex; */
    /* transition: color 0.4s;  */
}

.list-item-done {
    text-decoration: line-through;
    color: #d9d9d9;
}
.form-control:read-only {
    background-color: #fff !important;
}
